.header {
    background-color: var(--color-bg);
    display: flex;
    color: white;
    justify-content: center;
    margin-bottom: 2rem;
}

.headerContainer {
    width: 100%;
    margin: 1rem 0 3rem;
    position: relative;
}

.headerList {
    display: flex;
    justify-content: flex-start;
    gap: 1.2rem;
    margin-left: -5px;
    margin-bottom: 2.5rem;
}

.headerContainer.lessMargin>.headerList {
    margin-bottom: 0rem;

}

.headerListItem {
    display: flex;
    align-items: center;
    padding: 12px;
    cursor: pointer;
    transition: all 0.4s ease;
}


.headerListItem.active {
    border: 1px solid white;
    border-radius: 25px;
}

.headerListItem>* {
    font-size: 14px;
    text-transform: capitalize;
}

.headerListItem>svg {
    margin-right: 8px;
    transition: transform 0.4s ease;
}

.headerListItem:hover>svg {
    transform: scale(1.4);
}

.headerInfo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    margin-bottom: 2rem;
}

.headerInfo h1 {
    margin-bottom: 1.5;
}

button.headerBtn {
    margin-top: 1rem;
    padding: 10px 15px;
    font-size: 14px;
    background: var(--color-btn);
    border: 2px solid var(--color-btn-border);
    outline: none;
    color: #fff;
    transition: all 0.4s ease;
    cursor: pointer;
    font-weight: 600;
}

.headerBtn:hover,
.headerBtn:focus {
    box-shadow: inset 10.5em 0 0 0 var(--color-btn-border);
}

.haederSearch {
    margin-top: 2rem;
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid var(--color-yellow);
    border-radius: 4px;
    background: #fff;
    color: lightgray;
    position: absolute;
    /* bottom: 0%; */
    left: 0%;
    right: 0%;
    width: 100%;
}

.headerSerchItem {
    display: flex;
    align-items: center;
    font-size: 15px;
    gap: 8px;
}

.headerSerchItem>svg {
    font-size: 18px;
}

.headerSerchItem>input, .headerSerchItem>input::placeholder {
    border: none;
    outline: none;
    font-size: 16px;
    color: rgba(128, 128, 128, 0.719);
}

.handleSearchText {
    color: rgba(128, 128, 128, 0.719);
    cursor: pointer;
    min-width: 190px;
    user-select: none;
}

.searchBtn {
    padding: 10px 15px;
    font-size: 14px;
    background: var(--color-btn);
    border: 1px solid var(--color-btn-border);
    outline: none;
    color: #fff;
    transition: all 0.4s ease;
    cursor: pointer;
    font-weight: 600;
    border-radius: 4px;
}

.dateRange {
    position: absolute;
    top: 56.5px;
    border: 2px solid lightgray;
    border-top: 0px;
    border-radius: 4px;
    z-index: 5;
}

.options {
    background: white;
    width: 200px;
    padding: 0.8rem;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    position: absolute;
    top: 56.5px;
    border: 1px solid lightgray;
    border-top: 0;
    border-radius: 4px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    gap: 8px;
    z-index: 1;
}

.optionsItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.optionsItem>p {
    max-width: 60px;
    color: lightslategray;
    /* flex: 1; */
}

.optionsItem>.optionsCounter {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 5px;
}

.optionsItem>.optionsCounter>button {
    outline: none;
    border: 1px solid var(--color-btn-border);
    color: var(--color-btn-border);
    background: transparent;
    padding: 2px 8px;
    font-size: 14px;
    border-radius: 2px;
    cursor: pointer;
    transition: background 0.3s ease;
    flex: 1;
}

.optionsItem>.optionsCounter>button:hover:not(:disabled) {
    background: #0c82d11b;
}

.optionsItem>.optionsCounter>button:disabled {
    color: lightgray;
    border-color: lightgray;
    cursor: auto;
}

.optionsItem>.optionsCounter>span {
    font-size: 14px;
    color: lightslategray;
    min-width: 15px;
    flex: 2;
    text-align: center;
}